/* MusicPlayer.css */
.progress-container {
  width: 100%;
  height: 8px;
  background-color: #ff3d3d; /* Sfondo rosso */
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background-color: #ffef00; /* Avanzamento giallo */
  width: 0%; /* Gestito da React */
  transition: width 0.1s linear;
}

.time-info {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  font-family: sans-serif;
  font-size: 12px;
  color: #333;
}
